.card-style {
    width: 100%;
    height: fit-content;
    padding: 5px;
    padding-top: 15px;
    margin-bottom: 5px;
}

.mdic-row {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

.MuiDialog-root more-info-dialog {
    width: 100%;
    max-height: 100%;
    align-content: center;
    justify-content: center;
    min-width: 100vw;
    max-width: 100%;
}

.MuiDialogContent-root {
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.more-info-dialog-img {
    background-color: black;
    object-fit: scale-down;
    border-radius: 15px;
    width: 100%;
    max-height: 50vh;
    animation: fadeInAnimation ease 1s;
}

.info-container {
    display: flex;
    columns: 2;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;

}

.info-container-row {
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    width: 50%;
}

.info-label {
    display: inline;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 0.8rem;
    animation: fadeInAnimation ease 1s;
}

@media only screen and (max-device-width: 480px) {
    
    .MuiDialog-root more-info-dialog {
        overflow: hidden;
        justify-content: left;
    }
    
    .info-container {
        columns: 1;
        justify-content: center;
        padding-left: 5px;
        width: 100%;
    }

    .more-info-dialog-img {
        background-color: black;
        object-fit: contain;
        border-radius: 15px;
        max-width: 80%;
        max-height: 100%;
    }

    .info-container-row {
        display: flex;
        font-size: 1rem;
        font-size: 1rem;
        columns: 1;
        width: 100%;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  }
