.ic-owner {
    width: 100%;
    height: fit-content;
    font-size: 1em;
    font-style: italic;
}

.ic-action {
    display: inline;
    width: 100%;
    height: fit-content;
}

.ic-dog-name td {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #ffffff;
    border-bottom: none;
    font-size: 1em;
    text-align: center;
    border-bottom: none;
}

.ic-dog-info td {
    width: 100%;
    height: fit-content;
    font-size: 0.8em;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: none;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.main-dog-name-tr td {
    display: 'inline';
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-bottom: none;
    font-size: 1.2em;
    justify-content: center;
    text-align: center;
}

.main-dog-info-tr td {
    display: inline;
    width: 100%;
    border-bottom: none;
    height: fit-content;
    font-size: 1.2em;
    font-weight: 400;
}

.register-data-card-container {
    display: table-cell;
    width: 100%;
    max-width: 250px;
    height: 200px;
    min-width: 300px;
    min-height: 200px;
    margin-bottom: 5px; 
}

.register-data-card-container:hover {
    animation-name: animRegisterCardScale;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
}

@keyframes animRegisterCardScale {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1.0);
    }
}

